@page-color: #fff;
body{
	background: @page-color url(../images/yellow.png) repeat-x;
}
#page{
	margin:0 auto;
	width: 90%;
	
}
#header{
	background: green; /* remove */
	margin-top: 41px;
	height: 150px;
	width: 97.916%; /* 940px/960px */
}
.region-sidebar-second{
	background: red; /* remove */
	height: 100px; /* remove */
	width: 21.276%; /* 200px/940px */
	float: right;
	margin-right: 1.014%; /* 10px/960px */
}